<footer class="footer">
    <div class="container text-center">
      <!-- <a class="cc-facebook btn btn-link" href="" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a> -->
      <a class="cc-justpic btn btn-link" href="https://www.justpic.in/contact/AR926" target="_blank">
        <i class="fab fa-justpic fa-2x" aria-hidden="true" rel="tooltip" title="Follow me on "></i>JustPic
      </a>      
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/_search_18_/" target="_blank">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"  rel="tooltip" title="Follow me on Instagram"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://twitter.com/Anvesh3057" target="_blank">
        <i class="fa fa-twitter fa-2x " aria-hidden="true" rel="tooltip" title="Follow me on twitter"></i>
      </a>

      <a class="cc-github btn btn-link " href="https://github.com/anvesh-07" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true" rel="tooltip" title="Follow me on Github"></i>
      </a>
      <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/settipalli-anvesh-reddy-122917238/" target="_blank">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true" rel="tooltip" title="Follow me on Linkedin"></i>
      </a>
      <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      </a> -->
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>