<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020 - 2024</p>
            <div class="h5">B-tech</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">B-tech</div>
            <h4 class="category">Gitam Deemed to be University
            </h4>
            <ul>
              <li> Studied at Gitam Deemed to be University in Bangalore and <b>ranks 67th</b> in Bengalure </li>
              <li>"Pursuing B.Tech in ECE at Gitam Deemed to be University in Bangalore with an impressive" <b> 8.2
                  CGPA</b>.</li>
              <!-- <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li> -->
              <li>Maintained above <b>8.0 spi</b> in every semester of college academic .</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2018 - 2020</p>
            <div class="h5">Intermediate</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Intermediate</div>
            <h4 class="category">Sri chaitanya
            </h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science, mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and chemistry.
              </li>
              <li>
                Completed my high school with<b> 89%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2018</p>
            <div class="h5">Secondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Sri chaitanya
            </h4>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science and Languages.
              </li>

              <li>
                Completed my Secondary school with <b>95%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>