<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/IMG_20230302_183504.jpg" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">Settipalli Anvesh Reddy</h1>
          <p class="category text-white">Web Developer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary"
            href="https://firebasestorage.googleapis.com/v0/b/settipallianveshreddy.appspot.com/o/anvesh%20resume1.pdf?alt=media&token=2a1acb23-edf9-44c1-9474-d1e864a8cde6" target="_blank"
            data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
          <a class="btn btn-primary"
            href="https://drive.google.com/file/d/1s3WZCl7-fWAEeEZMN79v7L_13nvP4niX/view?usp=sharing" target="_blank"
            data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Passion Profile</a>

        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.justpic.in/contact/AR926"
              target="_blank" rel="tooltip" title="Follow me on JustPic"><i class="fa-regular fa-circle-j"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.linkedin.com/in/settipalli-anvesh-reddy-122917238/" target="_blank" rel="tooltip"
              title="Follow me on Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/_search_18_/"
              target="_blank" rel="tooltip" title="Follow me on instagram">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/anvesh-07" target="_blank"
              rel="tooltip" title="Follow me on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/Anvesh3057" target="_blank"
              rel="tooltip" title="Follow me on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>